footer{
    background-color: rgb(5, 115, 111);
    width: 90%;
    border-radius: 25px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

footer .titulo-final{
    text-align: center;
    color: aliceblue;
    padding: 10px;


}