

.tituloB{
    color: brown;
    padding: 10px;
    text-align: center;
    font-size: 100px;
}
.titulo{
    color: brown;
    padding: 10px;
    text-align: center;
    
}


.text-bulling{
    padding: 10px 40px 10px 40px;
    background-color: rgb(255, 186, 186);
    width: 50%;
    text-align: justify;
    align-items: center;
    margin: auto;
    border-radius: 25px;
    object-fit: cover;
    object-position: center center;
    margin-top: 10px;
}


.text-bulling p{
    padding: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.imagen{
    display: flex;
    justify-content: center;
}

.imagen img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    padding: 20px 0 20px 0;
}

.grafica{
    display: flex;
    justify-content: center;
}

.text-bulling h1{
    text-align: center;
    
}
.grafica img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    padding: 20px 0 20px 0;
}

.video-bulling video{
    width: 100%;
    height: auto;
    object-fit: center;
    object-position: center center;
    padding: 20px 0 20px 0;
}

